@import 'wikimedia-ui-base/wikimedia-ui-base.css';
@import './_wmui-style-guide.dev.css';

:root {
	--width-site: 700px;
	--width-site-desktop-wide: 700px;
	--site__logo-width-large: 17.9rem;
	--site__logo-height-large: 19.7rem;
	--site__logo-width-small: 15.4rem;
	--site__logo-height-small: 16.9rem;
	--project--icon-width: 6rem;
	--project--icon-height: 5.9rem;
}

body,
.site__title {
	font-family: -apple-system, BlinkMacSystemFont, 'Seogoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.project-cards > section {
	padding: 0;
}

.card__target {
	display: block;
	color: var( --color-base );
	padding: 3.2rem;
	text-decoration: none;
}
	.card__target:hover {
		text-decoration: none;
	}

	.card__target:hover .link {
		text-decoration: underline;
	}

.card__title {
	margin-top: 0;
}

.link {
	color: var( --color-primary );
}
